<div class="row">
  <div class="col-md-12">
    <h1>Roles</h1><hr>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 text-right">
    <input class="form-control" type="search" placeholder="Search ..."  (keyup)="applyFilter($event)" #input>
  </div>
  <div class="col-sm-6 text-right">
    <button type="submit" class="btn btn-primary mb-2" (click)="onCreate()">Create Data</button>
  </div>
</div>

<div class="mat-elevation-z5" style="margin: 3px 0px;">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let element; let i=index"> {{i+1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roleNme">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Roles </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.roleName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button class="btn btn-outline-primary btn-sm m-1" (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="btn btn-outline-danger btn-sm m-1" (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div class="card text-center pb-1 pagination flex-wrap">
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15, 20, 100]" showFirstLastButtons aria-label="Select page"
      aria-hidden="true"></mat-paginator>
  </div>
</div>
