<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1>Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <mat-icon>supervisor_account</mat-icon>
        <span class="count-numbers">12</span>
        <span class="count-name">Users</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <mat-icon>file_copy</mat-icon>
        <span class="count-numbers">599</span>
        <span class="count-name">Documents</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <mat-icon>dashboard</mat-icon>
        <span class="count-numbers">6875</span>
        <span class="count-name">Total Appointment</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <mat-icon>supervised_user_circle</mat-icon>
        <span class="count-numbers">35</span>
        <span class="count-name">Applicants</span>
      </div>
    </div>
  </div>

  <div class="card mt-3 text-left">
    <div class="card-header">
      Dashboard Summary
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div id="barChart"></div>
        </div>
        <div class="col-sm-6 mt-5" style="display: flex; justify-content: center;">
          <div id="pieChart"></div>
        </div>


      </div>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>
