<form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
  <h2>Add Roles</h2><hr>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="roleName">
          Role Name<span>*</span>
        </label>
        <input type="text" class="form-control" id="roleName" formControlName="roleName" aria-describedby="roleName">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="description">
          Description<span>*</span>
        </label>
        <textarea type="text" class="form-control" id="description" formControlName="description"
          aria-describedby="description"></textarea>
      </div>
    </div>
  </div><hr>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary m-1" [disabled]="submitForm.invalid">Save</button>
      <button type="button" class="btn btn-danger m-1" matDialogClose="no">Close</button>
    </div>
  </div>
</form>
